* {
      box-sizing: border-box;

}
::selection {
      color:#FFA500}
body {
      display: flex;
      flex-direction: column;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
      margin: 0;
}

ul,
li {
      list-style: none;
}

a {
      text-decoration: none;
}
.btn {
border: 2px solid rgb(0, 0, 0);
padding:10px 20px;
font-size: 20px;
border-radius: 20px;
background: #000;
color: orange;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
transition: 0.8s ease-in;
-webkit-transition: 0.8s ease-in;
-moz-transition: 0.8s ease-in;
-ms-transition: 0.8s ease-in;
-o-transition: 0.8s ease-in;
}
.btn:hover {
      color: orange;
      background: #fff;   
}
/*? Navigation  starts from here */


header {
      display: flex;
      align-items: center;
      justify-content: space-around;

      background: #000;
}

header #logo {
      font-size: 35px;
      font-weight: bold;

}

header #logo a {
      color: orange;
      text-decoration: none;
}

header .nav ul {
      display: flex;

}

header .nav ul li {

      padding: 0px 8px;
}

header .nav ul li a {
      text-transform: capitalize;
      font-size: 22px;
      color: orange;
      cursor: pointer;
      padding: 12px;
      transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
      -ms-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
}

.nav ul li a.active{
      
      color: #fff !important;
    
}

header .nav ul li a:hover {
      background: orangered;
      color: #fff;
      border: 2px solid #000;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}
/*? Navigation bar ends here */


/*! Hero section starts */
.hero {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      width: 100%;
      height: 100vh;
      padding:0px 20px;
     background-attachment: fixed;
     background-image:url(img/background-img/bg1.png);
     
}
.hero-left {
      width: 50%;
}
.hero .hero-left h4 {
      font-size: 27px;
      color: #fff;
      font-weight: 300;
}
.hero .hero-left span {
      color:orange ;
      font-size: 30px;

}
.hero .hero-left h1 {
      font-size: 42px;
      color: #fff;
      max-width: 90%;
}
.hero .hero-left  strong {
      color:orange ;
}
.hero .hero-right {
      width: 50%;
     
}
.hero .hero-left p {
      font-size: 26px;
      max-width:70%;
      line-height: 50px;
      color: #fff;
}

.hero .hero-right img {
      width: 100%;
      object-fit: fill;
      height: 550px;
      
}


/*! Hero section ends */
/*!about section sstart */

#about {
      
      width: 100%;
      height: 100vh;
      
      background-image:url('img/food/food-table.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: darken;
     
}
#about #about-left {
      background-image:url('img/shapes/7.png');
background-attachment: fixed;
}
#about .about-left img {
      width: 80%;
      height: auto 0;
}
#about #about-content {
      display: flex;
      justify-content: space-around;
      align-items:center;
}
#about #about-right h1 {
      font-size: 32px;
      font-weight: bold;      
}
#about #about-right span {
      color: orange;
}
#about #about-right p {
      max-width: 70%;
      margin-bottom: 15px;
      line-height: 45px;
      font-size: 26px;
      color:#ffffff;

}
#about #about-right span.ctg {
      font-size: 32px;
      font-weight: 800;
}
#about #about-right .btn {
      margin-top: 20px;
      line-height: 24px;
}


/*about section ends */

/*recipe section starts */

#recipe {
      width: 100%;
      height: 100vh;
     
}
#recipe #recipe-heading {
      text-align: center;
     width: 100%;
     margin: 20px;
}
#recipe #recipe-heading h1 {
      font-size: 27px !important;
      color: orange;
      cursor: pointer;
}
#recipe #recipe-heading p {
      font-size: 22px;
      color: rgb(70, 59, 59);
      text-align: center;
      margin-bottom: 65px;
      font-weight: 800;
      
}
#recipe #recipe-item {
      display: flex;
     
      justify-content: space-around;
      align-items: center;
      width: 100%;
      cursor: pointer;
      
      
}

#recipe #recipe-item #recipe-box {
      text-align: center;
      box-shadow: -6px -5px 60px 0px rgba(0,0,0,0.75);
}
#recipe #recipe-item #recipe-box h2 {
      color: orange;
}
#recipe #recipe-item #recipe-box p {
      font-weight: 400;
      font-size: 22px;
}
#recipe #recipe-item img {
 width: 300px;
 opacity: 0.5;
 transition: 0.10s ease-in;
 -webkit-transition: 0.10s ease-in;
 -moz-transition: 0.10s ease-in;
 -ms-transition: 0.10s ease-in;
 -o-transition: 0.10s ease-in;
}
#recipe #recipe-item #recipe-box:hover img{
      opacity: 1;
}



/*!recipe section ends */
/*!review section starts */
#review {
      width: 90%;
      height: 350px;
    
      
      
}
#review-content {
      display: flex;
     margin-left:46px;
      justify-content: space-around;
      align-items: center;
      text-transform: capitalize;
      width: 100%;
      box-shadow: -6px -5px 25px 0px rgba(0,0,0,0.75)
}



/*!review section ends */


/* footer section */

footer {
      background: orange;
       text-align: center;
}
footer h2 {
      font-size: 32px;
}
footer a {
      color: #000;
      transition:all 0.4s ease ;
      -webkit-transition:all 0.4s ease ;
      -moz-transition:all 0.4s ease ;
      -ms-transition:all 0.4s ease ;
      -o-transition:all 0.4s ease ;
}

footer a:hover {
 color: orange;
 background: #000;
 padding: 10px 20px;
}
footer p {
      font-size: 22px;
      color: #fff;
      text-transform: capitalize;
}








